@import 'tailwindcss';

:root {
    --deep-blue-1: #282d3d;
    --deep-blue-2: #25232e;
    --clear-white: #f0f0f5;
    --golden1: #b8a88a;
    --golden2: #dfbe73;

    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-header-primary: var(--deep-blue-1);
    --color-header-secundary: var(--deep-blue-2);
    --color-header-text-primary: var(--clear-white);
    --color-accent-primary: var(--golden1);
    --color-accent-secundary: var(--golden2);

    --font-cinzel: var(--font-cinzel);
    --font-inter: var(--font-inter);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
}
