@import 'tailwindcss';

:root {
    --deep-blue-1: #282d3d;
    --deep-blue-2: #25232e;
    --golden: #b8a88a;

    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-header-primary: var(--deep-blue-1);
    --color-header-secundary: var(--deep-blue-2);
    --color-accent: var(--golden);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
